.card {
	width: 260px;
	overflow: hidden;
	margin: 15px;
	border-radius: 15px;
	background: white;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	cursor: pointer;
}

.image img {
	width: 100%;
	height: 370px;
	margin-bottom: 15px;
}

.title {
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 15px;
}

.plot{
	padding: 5px;
	max-width: 500px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	line-height: 1.3em;
	height: 4.9em;
	font-family: 'Mukta', sans-serif;
}
